h3 {
    font-family: 'Press Start 2P', cursive;
    }
    header{
        padding: 25px;
        margin: 2em 1em; 
        color: aqua; 
        background-color: orange;
    }
    .primeiraAula {
        color: rgb(113, 201, 105);
        display: inline;
        border: solid 2px;
        padding: 0.5em;
    }
    a{
        color: green;
        text-decoration:none ;
    }
    footer{
        padding: 2em 1em; 
        color: blueviolet; 
        background-color: bisque;
    }